a {
    color: purple;
}
p{
    color: palevioletred;
}
h5{
    text-align: center;
    text-shadow: 12px, 12px;
}
h6{
    font-size: 40px;
    text-align: center;
    color: palevioletred;
    font-family: sans-serif;
}


.myForm {
    
    background-color: silver;
    text-align: center;
    padding: 15px 40px 40px;
    width: 900px;
    height: 50%;
    margin: 50px auto 0;
}

.card{
    border-right: 5px;
}
input, select, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: palevioletred;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.jumbo{
    padding: 15px 40px 40px 15px;
}

.boxbox {
    background-color: silver;
    padding: 15px 40px 40px;
}

